<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <div class="d-flex justify-content-left">
            <i class="fa-solid fa-gear fa-xl"></i>
        </div>
        
        <a class="navbar-brand mx-auto nav-title" href="#">VSbooks</a>

        <div class="d-flex">
            <i class="fa-solid fa-magnifying-glass fa-xl"></i>
            <i class="fa-regular fa-heart fa-xl"></i>
            <i class="fa-regular fa-paper-plane fa-xl"></i>
        </div>
    </div>
</nav>