/* You can add global styles to this file, and also import other style files */
/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
:root {

    /* Colors */
    --first-cplor: ?;
    --first-color-alt: ?;
    --first-color-lighter: ?;
    
    /* Set typo */
    --body-font: 'Open Sans', sans-serif;
    --title-font: 'Secular One', sans-serif;

    /* Font weight */
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    background-color: var(--body-color);
    color: var(--text-color);
}

.nav-title {
    color: #e8423f;
    font-weight: 600;
    font-size: 25px;
    font-family:  var(--title-font);
    padding-left: 4rem;
}

 .nav-title:hover {
    color: #e8423f;
}

.fa-xl {
    margin-left: 12px;
}

.listBooks {
    margin-bottom: 3rem;
    border-color: #242424;
    background-color: #242424;
    font-weight: var(--font-bold);
    width: 350px;
    height: 55px;
    border-radius: 2px;
    color: #fff;
}

.listBooks:hover {
    border-color: #242424;
    background-color: #242424;
    color: #fff;
}

.fa-camera {
    padding-right: 0.5rem;
}

